@font-face{
	font-family: "DancingScript-Bold";
	src:url(DancingScript-Bold.ttf);
}
body{
	background-color: black;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-left: 3em;
}

header{
	display: flex;
	flex-direction: row;
	align-content: space-around;
	align-items: baseline;
	background-color: #5b7989;
	margin:0;
	border-radius: 10px;
	font-family:"DancingScript-Bold";
	justify-content: space-between;
	box-shadow: 10px 5px 5px black;

}
h1{
	color: white;
	text-shadow: 1px 1px 2px #02010a;
	font-size: 3em;
	text-align: left
}
header nav{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 30%;
	align-items: flex-end; 
	word-spacing: 20px;



}
header nav a{
	color: white;
	font-size: 2em;
	text-align: right;
	

}
a.active{
	text-decoration: none;
}
section{
	background-color: #82c3a6;
	margin: 0;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;
	width: 100%;

	

}
#contenido figure img{
	display: flex;
	width:98%;
	margin: 1em;
	padding:1em;


		
}
.imagen1 {
	border-radius: 20px;
	justify-content: center;
	width: 100%

	
}
.contenido {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	box-shadow: 10px 5px 5px black;
	background-color:  #d5c75f;
}
.imagen img{
	width: 500px;
	height: 300px;
	border-radius: 10px;
	box-shadow:  2px 2px 2px #02010a;
	

}
figcaption{
	font-family:"DancingScript-Bold";
	text-align: center;
	padding: 1em;
}
#imagenes2 {
	display: flex;
	flex-direction: row;
	background-color:  #d5c75f;
	justify-content: center;
	box-shadow: 10px 5px 5px black;

}
#imagenes2 img{
	width: auto;
	border: solid black;
	border-radius: 10px;
	box-shadow:  2px 2px 2px #02010a;
}
.paisajes:hover{
	transform: rotate(10deg);
	box-shadow:10px 5px 5px #82c3a6;
}
.retratos:hover{
	transform: translate(5px,-20px);
	box-shadow:10px 5px 5px #82c3a6;
}
#imagen1{
	-webkit-filter:blur(10px);
	filter: blur(10px);
}
.imagen:nth-child(even){
-webkit-filter:grayscale(100%);
filter: grayscale(100%);
}
#imagen3{
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
}

footer{
	background-color: #C6d5c5;
	margin: 0;
	width: 100%;
	font-family: "DancingScript-Bold";
	color:black;
	border-radius: 0 0 10px 10px;
	display:flex;
	justify-content: space-between;
	align-items: top;
	flex-direction: row;
	box-shadow: 10px 5px 5px black;
	column-count: 4;
	box-shadow: 10px 5px 5px black;
	border-radius: 10px
	
}
div{
	width: 25%;
	
	
}
 footer h3{
	margin-top: 1px;
	text-align: left;
	font-weight: bold;
	font-size: 1.5em
}
footer a img{
	vertical-align: middle;
	padding: 1em

}

@media (max-width: 1200px) and (min-width: 400px) {
	body {
		display: flex;
		flex-direction: column;
		background-color: black;
		max-width: 96%;
    	padding: 0;
   		margin: 0 !important;
    	overflow-x: hidden !important;
	}

	img {
		max-width: 100%;
	}

	#contenido figure img{
		max-width: 90%
	}

	section{
		max-width: 100%
	}
	header{
		max-width: 100%;
		flex-direction: column;


	}
	footer{
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	header nav{
		width: 0;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	#imagenes2{
		flex-direction: column;
		margin: auto
	}
	#imagenes2 img{
		align-items: center;
	}

	figure {
		-webkit-margin-before: 0;
	    -webkit-margin-after: 0;
	    -webkit-margin-start: 0;
	    -webkit-margin-end: 0;
	}
}